 
 <launch>


  <arg name="use_rviz"                 default="true"/>
  

     <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="front_laser" />

  <!-- Optionally enable teleop for the simulation -->
  <arg name="joystick" default="true" />
  
    <!-- Spawn Jackal -->
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="1.0" />
    <arg name="yaw" value="0" />
    <arg name="config" value="$(arg config)" />
    <arg name="joystick" value="$(arg joystick)" />
  </include>

  <include file="$(find pckg)/launch/xsturret_gazebo.launch" >
    <arg name="robot_model"                       value="wxxms"/>
    <arg name="use_rviz"                 default="$(arg use_rviz)"/>
    <arg name="paused"                            default="false"/>
 </include>
 
 
 
 


    <node
        name="pan_tilt"
        pkg="pckg"
        type="pan_tilt"
        respawn="false"
        output="screen"
    />


    <node
        name="tracker"
        pkg="pckg"
        type="coord_tracker"
        respawn="false"
        output="screen"
    />
    
<node name="simple_interface.py" pkg="pckg" type="simple_interface.py">
  </node>
    
    <include file="$(find jackal_navigation)/launch/gmapping_demo.launch">

  </include>

    
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen" launch-prefix="xterm -e">
		<param name="resolution" value="0.05" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="5.0" />
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/camera1/depth/points" />
	
	</node>


    

    
    

 
    

    
</launch>


